*{
	padding: 0;
	margin: 0;
}

body{
	background-image: url(img/index_background.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	min-width: 1024px;
	min-height: 600px;
	width: 100%;
	height: 100%;
}
.logo_vertical{
	
	display: inline-block;
	width: 114px;
	height: 124px;
	margin-top: 35%;
	background-image: url(img/zumo_logo_vertical.png);
	background-repeat: no-repeat;
	background-position: center;
}

.indexinfo{
	font-family: HouschkaPro-Medium;
	font-size: 12px;
	line-height: 18px;
	text-align: justify;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 50px;
}
.indexinfo .column{
	width: 250px;
	float: left;
	margin-left: 20px;
}
#content{
	
	margin-left: 0 !important;
	margin-right: 0 !important;
	height: 100% !important;
	margin-top: 0 !important;
	text-align: center;
}
.container{
	display: inline-block;
	width: auto;
	font-size: 16px;
	line-height: 22px;
	position: relative;
}
.marker{
	position: absolute;
	height: 20px;
	width: 0;
	background-color: #FFCC00;
	/*background-image: url(img/elements_background.png);*/
	background-repeat: no-repeat;
	top: 0;
	left: 0;
	z-index: -1;
}