div.loginContent {
	padding: 25px;
	background: #FFCC00;
	font-size: 9pt;
	line-height: 1.5;
	width: 230px;
	position: relative;
	margin: 0 auto;
	font-family: HouschkaPro-Medium;
	font-size: 12px;
}

div.loginContent .activeButton{	
	background: #FFF;	
}

div.loginContent label{
	position: relative;
	left: 10px;
}

div.loginContent input[type=email]{
	border: none !important;
	width: 210px;
	height: 15px;
}

div.loginContent input[type=text], input[type=password]{	
	border: none !important;
	width: 210px;
	height: 15px;
	font-size: 12px;
	font-family: HouschkaPro-Medium;
}