.grid{
	width: 100%;
	display: inline-block;
	position: relative;
	padding-top: 50%; /* "height" will be 3/4 of width */
	top: -20px;
}
.grid .gridContainer{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*outline: 1px solid grey;*/
}
.grid .gridElement{
	margin-right: 1%;
	margin-top: 1%;
	float: left;
    width: 31%;
    height: 35.33%;
    position: relative;
}
.grid .gridElement .mainImage{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	background-color: white;
}

.grid .gridElement .information{
	background-image: url(/inmobiliaria_zumo/app/webroot/css/img/grid_elements_background.png);
	background-size: 100%;
	width: 100%;
	height: 100%;
	position: absolute;
}
.grid .gridElement span{
	display: block;
	margin-left: 15px;
	font-family: HouschkaPro-Medium;
}

.paginator{
	font-family: HouschkaPro-Medium;
	font-size: 10pt;
	display: block;
	line-height: 20px;
	width: 100%;
	height: 20px;
}
.paginator .pagesInfo{
	float: right;
}
.paginator .pagesControl{
	float: right;
	margin-left: 10px;
}