div.loginContent {
	padding: 30px;
	background: #FFCC00;
	width: 180px;	
	font-size: 9pt;
	line-height: 1.5;
	width: 230px;
	position: relative;
}

div.loginContent .activeButton{	
	background: #FFF;	
}

div.loginContent label{
	position: relative;
	left: 10px;
}

div.loginContent input[type=email]{
	position: relative;
	left: 10px;
	border: none !important;
	width: 160px;
}

div.loginContent input[type=text], input[type=password]{	
	border: none !important;
	width: 160px;
}